*.img
*.iso
*.tar.xz
*.tar.bz2
linux-6.6.60/
busybox
curl
alpine-minirootfs-3.19.1-x86_64.tar.gz
alpine-root/
initramfs/
/initramfs.cpio.gz
bin/
sbin/
lib/
lib64/
usr/
var/
etc/
tmp/
dev/
proc/
sys/
mnt/
root/
lost+found/
.cache/
.config/
.bash_history
.Xauthority
.xinitrc
